{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus -> Agency</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency.css' %}">
  </head>
  <body>

    <!-- ///////////////////////////////////////////////////////////////////////// -->
    <div id="new-vote" class="modal">
	 		<form>
				<div class="form-head">
					<h2>creating new trip...</h2>
					<i class="fas fa-times" onclick="document.getElementById('new-vote').style.display='none'" ></i>
				</div>
				<div class="form-mid">
					<label>vote title</label>
					<input type="text" name="From" placeholder="Vote Title">
					<hr>
					<div class="zoom">
						<label> photos: </label>
						<input type="file" name="pic" accept="image/*">
						<input type="file" name="pic" accept="image/*">
						<input type="file" name="pic" accept="image/*">
						<input type="file" name="pic" accept="image/*">
					</div>
					<hr>
          <label> Description: </label>
					<textarea></textarea>
					<hr>
					<span class="terms"> by clicking "submit" you agree to our <a href="">terms of posting</a></span>
				</div>
				<div class="form-foot">
					<button> submit </button>
				</div>
			</form>
		</div>
    <!-- ///////////////////////////////////////////////////////////////////////// -->
		<div id="new-trip" class="modal">
			<form>
					<div class="form-head">
						<h2>creating new trip...</h2>
						<i class="fas fa-times" onclick="document.getElementById('new-trip').style.display='none'" ></i>
					</div>
					<div class="form-mid">
						<label> from: </label>
						<input type="text" name="From" placeholder="e.g Alexandria">
						<label> to: </label>
						<input type="text" name="To" placeholder="e.g Dahab">
						<hr>
						<label> from: </label>
						<input type="date" name="duration" placeholder="e.g 1/7/2019">
						<label> to: </label>
						<input type="date" name="duration" placeholder="e.g 7/7/2019">
						<hr>
						<label> Description: </label>
						<textarea></textarea>
						<hr>
						<div class="zoom">
							<label> photos: </label>
							<input type="file" name="pic" accept="image/*">
							<input type="file" name="pic" accept="image/*">
							<input type="file" name="pic" accept="image/*">
							<input type="file" name="pic" accept="image/*">
						</div>
						<hr>
						<label> board Type: </label>
						<input type="text" name="food" placeholder="e.g Full board">
						<label> price per Individual: </label>
						<input type="number" name="$" placeholder="e.g 2500LE">
						<hr>
						<label> promo Code: </label>
						<input type="text" name="Promocode" placeholder="Promo Code">
						<label> booking Deadline: </label>
						<input type="date" name="">
						<hr>
						<span class="terms"> by clicking "submit" you agree to our <a href="">terms of posting</a></span>
					</div>
					<div class="form-foot">
						<button> submit </button>
					</div>
			</form>
		</div>
    <!-- ///////////////////////////////////////////////////////////////////////// -->
		<div id="edit-info" class="modal">
			<div class="contain">
				<form> <!--el data 7atro7 lel server esmo eh -->
					<div class="form-head">
						<h2>edit information account</h2>
				    <i class="fas fa-times" onclick="document.getElementById('edit-info').style.display='none'" ></i>
					</div>
					<div class="form-mid">
						<input type="file" name="pic" accept="image/*">
						<input type="text" placeholder="Username" name="usernamedb" >
						<input type="text" placeholder="Enter Email" name="email" >
						<input type="text" placeholder="Phone Number" name="number" required >
						<input type="text" placeholder="Country" name="Country" required>
						<input type="text" placeholder="City" name="city" >
						<input type="password" placeholder="Enter Old Password" name="psw" required>
						<input type="password" placeholder="Enter New Password" name="psw" required>
						<input type="password" placeholder="Confirm New Password" name="psw" required>
					</div>
					<div class="form-foot">
						<button type="button">save</button>
					</div>
				</form>
			</div>
		</div>
    <!-- ///////////////////////////////////////////////////////////////////////// -->
		<div id="delete-confirm" class="modal">
			<div class="contain">
				<form> <!--el data 7atro7 lel server esmo eh -->
					<div class="form-head">
						<h2>are you sure ?</h2>
				    <i class="fas fa-times" onclick="document.getElementById('delete-confirm').style.display='none'" ></i>
					</div>
					<div class="form-mid">
						<input type="password" placeholder="Enter Your Password" name="psw" required>
					</div>
					<div class="form-foot">
						<button type="submit">delete</button>
					</div>
				</form>
			</div>
		</div>

    <!-- Start Header -->
    <div class="header">
      <div class="overlay">
        <div class="navbar"> <!-- Start Nav Bar -->
          <div class="contain">
            <div class="logo">
              <a href="{% url 'home' %}"><img src="{% static 'photos/others/logo-2-ed.png' %}" alt=""></a>
            </div>
            <div class="clear"></div>
          </div>
        </div> <!-- End Nav Bar -->

        <div class="head-title">
          <h1>Agency Name</h1>
        </div> <!-- End Search Box -->
      </div>
    </div>
    <!-- End Header -->

    <div class="contain">
      <!-- Start Tabs Panel -->
      <div class="tabs-panel">
        <div class="prof-intro">
          <img src="{% static 'photos/others/agency-1.jpg' %}" alt="">
          <h3>agencyname</h3>
          <span><i class="fas fa-star"></i>3.8</span>
          <span><i class="fas fa-users"></i>50</span>
        </div>

        <div class="prof-tabs">
          <h3 class="active" data-id="tab1">my trips<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab2">my votes<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab3">my account<i class="fas fa-chevron-right"></i></h3>
        </div>

        <a href="#">new trip</a>
        <a href="#">new vote</a>
      </div>
      <!-- End Tabs Panel -->

      <!-- Start Tab Details -->
      <div>
        <div id="tab1" class="tab-details active">
          <div class="my-trips-tabs">
            <button class="active" data-id="history" type="button" name="button">history</button>
            <button data-id="saved" type="button" name="button">available</button>
          </div>
          <div>
            <div id="history" class="post-contain active">
              <a href="{% url 'trip-page' %}">
                <div class="post">
                  <div class="post-img">
                    <img src="photos/header-8.jpg" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">review</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>alexandria</h2>
                    <h2>cairo overland</h2>
                    <h4><span>price</span> 350</h4>
                    <h4><span>date</span> 18 / 6 / 2019</h4>
                    <h4><span>duration</span> 2 days</h4>
                    <h4><span>meals</span> halfboard</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                    <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                  </div>
                </div>
              </a>
            </div>

            <div id="saved" class="post-contain">
              <a href="{% url 'trip-page' %}">
                <div class="post">
                  <div class="post-img">
                    <img src="photos/header-3.jpg" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">learn more</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>alexandria</h2>
                    <h2>cairo overland</h2>
                    <h4><span>price</span> 350</h4>
                    <h4><span>date</span> 18 / 6 / 2019</h4>
                    <h4><span>duration</span> 2 days</h4>
                    <h4><span>meals</span> halfboard</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                    <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab2" class="tab-details">
          <a href="{% url 'vote-page' %}">
            <div class="post">
              <div class="post-img">
                <img src="{% static 'photos/header-10.jpg' %}" alt="">
                <div class="overlay">
                  <button class="learn-more" type="button" name="button">agency page</button>
                </div>
              </div>
              <div class="post-info">
                <h2>taba</h2>
                <h2>45 followers</h2>
                <div class="clear"></div>
                <p>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options.</p>

                <h4><span><i class="fas fa-thumbs-up"></i>40</span> interested</h4>
                <h4><span><i class="fas fa-thumbs-down"></i>15</span> not interested</h4>
              </div>
            </div>
          </a>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab3" class="tab-details">
          <div class="user-info">
            <img src="{% static 'photos/others/user-avatar.png' %}" alt="">
            <form class="" action="index.html" method="post">
              <div>
                <label>Agency Name</label>
                <h3>Lucky Travel</h3>
              </div>
              <div>
                <label>bio</label>
                <h3>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options.</h3>
              </div>
              <div>
                <label>address</label>
                <h3>alexandria, elagamy, abo-youssef</h3>
              </div>
              <div>
                <label>phone</label>
                <h3>01091118646</h3>
              </div>
              <div>
                <label>facebook</label>
                <h3>https://www.facebook.com/luckytours.alex</h3>
              </div>
            </form>
            <button type="button" onclick="document.getElementById('edit-info').style.display='block'">edit</button>
            <button type="button" onclick="document.getElementById('delete-confirm').style.display='block'">delete account</button>
          </div>
        </div>
      </div>
      <!-- End Tab Details -->
    </div>

    <div class="clear"></div>

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="links">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.yahoo.com" target="_blank"><i class="fab fa-yahoo"></i></a>
          <div class="clear"></div>
        </div>
        <div class="copyright">
          <h3>Copyright © 2019 <span>Exodus.com</span> , All Rights Reserved.</h3>
        </div>
        <div class="andro-app">
          <div class="app">
            <a href="{% url 'agency' %}" target="_blank">
              <i class="fab fa-android"></i>
              <h3>download exodus app</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Start Scroll To Top Button -->
    <div class="scroll-top">
      <span>Top</span>
      <i class="fas fa-arrow-up"></i>
    </div>
    <!-- End Scroll To Top Button -->

    <!-- Start Div Error -->
    <section>
      <h1>unfortunatly!...</h1>
      <p>this website dosen't support screen less than 400px</p>
    </section>
    <!-- End Div Error -->

    <script src="{% static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
