<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User -> Agency</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/exo-2.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/agency.css">
  </head>
  <body>

    <!-- Start Header -->
    <div class="header">
      <div class="overlay">
        <div class="navbar"> <!-- Start Nav Bar -->
          <div class="contain">
            <div class="logo">
              <a href="user.html"><img src="photos/others/logo-2-ed.png" alt=""></a>
            </div>
            <div class="tabs">
              <ul>
                <li>
                  <a href="home.html">home</a>
                </li>
                <li>
                  <a href="trips.html">trips</a>
                </li>
                <li>
                  <a href="votes.html">votes</a>
                </li>
                <li>
                  <a href="agencies.html">agencies</a>
                </li>
                <li class="sign_in">
                  <a href="forms.html">sign in</a>
                </li>
              </ul>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div> <!-- End Nav Bar -->

        <div class="head-title">
          <h1>agency name</h1>
        </div> <!-- End Search Box -->
      </div>
    </div>
    <!-- End Header -->

    <div class="contain">
      <!-- Start Tabs Panel -->
      <div class="tabs-panel">
        <div class="prof-intro">
          <img src="photos/others/agency-1.jpg" alt="">
          <h3>agencyname</h3>
          <span><i class="fas fa-star"></i>3.8</span>
          <span><i class="fas fa-users"></i>50</span>
          <div class="clear"></div>
          <button class="" type="button" name="button">follow</button>
        </div>

        <div class="prof-tabs">
          <h3 class="active" data-id="tab1">trips<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab2">votes<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab3">account<i class="fas fa-chevron-right"></i></h3>
        </div>
      </div>
      <!-- End Tabs Panel -->

      <!-- Start Tab Details -->
      <div>
        <div id="tab1" class="tab-details active">
          <div class="my-trips-tabs">
            <button class="active" data-id="history" type="button" name="button">history</button>
            <button data-id="saved" type="button" name="button">available</button>
          </div>
          <div>
            <div id="history" class="post-contain active">
              <a href="trip-page.html">
                <div class="post">
                  <div class="post-img">
                    <img src="photos/header-8.jpg" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">review</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>alexandria</h2>
                    <h2>cairo overland</h2>
                    <h4><span>price</span> 350</h4>
                    <h4><span>date</span> 18 / 6 / 2019</h4>
                    <h4><span>duration</span> 2 days</h4>
                    <h4><span>meals</span> halfboard</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                    <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                  </div>
                </div>
              </a>
            </div>

            <div id="saved" class="post-contain">
              <a href="trip-page.html">
                <div class="post">
                  <div class="post-img">
                    <img src="photos/header-3.jpg" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">learn more</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>alexandria</h2>
                    <h2>cairo overland</h2>
                    <h4><span>price</span> 350</h4>
                    <h4><span>date</span> 18 / 6 / 2019</h4>
                    <h4><span>duration</span> 2 days</h4>
                    <h4><span>meals</span> halfboard</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                    <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab2" class="tab-details">
          <a href="vote-page.html">
            <div class="post">
              <div class="post-img">
                <img src="photos/header-10.jpg" alt="">
                <div class="overlay">
                  <button class="learn-more" type="button" name="button">agency page</button>
                </div>
              </div>
              <div class="post-info">
                <h2>taba</h2>
                <h2>45 followers</h2>
                <div class="clear"></div>
                <p>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options.</p>

                <h4><span><i class="fas fa-thumbs-up"></i>40</span> interested</h4>
                <h4><span><i class="fas fa-thumbs-down"></i>15</span> not interested</h4>
              </div>
            </div>
          </a>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab3" class="tab-details">
          <div class="user-info">
            <img src="photos/others/user-avatar.png" alt="">
            <form class="" action="index.html" method="post">
              <div>
                <label>Agency Name</label>
                <h3>Lucky Travel</h3>
              </div>
              <div>
                <label>bio</label>
                <h3>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options.</h3>
              </div>
              <div>
                <label>address</label>
                <h3>alexandria, elagamy, abo-youssef</h3>
              </div>
              <div>
                <label>phone</label>
                <h3>01091118646</h3>
              </div>
              <div>
                <label>facebook</label>
                <h3>https://www.facebook.com/luckytours.alex</h3>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Tab Details -->
    </div>

    <div class="clear"></div>

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="links">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.yahoo.com" target="_blank"><i class="fab fa-yahoo"></i></a>
          <div class="clear"></div>
        </div>
        <div class="copyright">
          <h3>Copyright © 2019 <span>Exodus.com</span> , All Rights Reserved.</h3>
        </div>
        <div class="andro-app">
          <div class="app">
            <a href="agency.html" target="_blank">
              <i class="fab fa-android"></i>
              <h3>download exodus app</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Start Scroll To Top Button -->
    <div class="scroll-top">
        <span>Top</span>
        <i class="fas fa-arrow-up"></i>
    </div>
    <!-- End Scroll To Top Button -->

    <script src="js/JQuery%20(v3.2.1).js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/script.js"></script>
  </body>
</html>
