
.header .head-title{ /* Start Search Header */
  text-align: center;
  display: inline-block;
  padding: 0px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.header .head-title > div{
  background-color: rgba(163, 163, 163, 0.28);
  border-radius: 5px;
  padding: 20px;
  transition: all 0.25s ease-in-out;
}
.header .head-title h1{
  text-transform: capitalize;
  color: #eee;
  font-size: 40px;
  margin: 0;
}
.header .head-title p{
  color: #ccc;
  margin: 20px 0;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
}
.header .head-title form{
  position: relative;
}
.header .head-title form i{
  float: left;
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 22px;
  color: var(--main-color);
  transition: all .20s ease-in-out;
}
.header .head-title form input{
  width: 73.3%;
  margin-right: 0%;
  padding: 6px 8px 6px 35px;
  border-radius: 5px;
  font-size: 18px;
  font-style: italic;
  transition: all .20s ease-in-out;
}
.header .head-title form button:hover{
  background: #1869b1;
}
.header .head-title form button{
  margin-left: 1%;
  width: 25%;
  padding: 8px;
  text-transform: capitalize;
  font-size: 18px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
/* .header .head-title form button:nth-of-type(2){
  margin: 8px 0 0 5px;
} */
/* End Header */

/* Start Advanced Search */
.adv-search{
  background-color: #eee;
  display: none;
}
.adv-search .contain form{
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.adv-search .contain form input{
  display: inline-block;
  width: 40%;
  border-radius: 5px;
  font-style: italic;
  font-size: 18px;
  padding: 8px 10px;
  margin: 15px 10px 0 0;
  box-shadow: 1px 1px 5px 0px #aaa;
}
.adv-search .contain form input:nth-of-type(2){
  margin: 15px 0 0 10px;
}
.adv-search .contain form input:nth-of-type(3){
  margin: 15px 10px 0 0;
  height: 36px;
}
.adv-search .contain form input:last-of-type{
  margin: 15px 0 0 10px;
}
.adv-search .contain form button:hover{
  background: #1869b1;
}
.adv-search .contain form button{
  margin: 20px 0;
  width: 20%;
  padding: 8px;
  text-transform: capitalize;
  font-size: 18px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
/* End Advanced Search */

/* Start Latest Votes */
.latest-votes{
  background-color: #eee;
  padding: 50px 0;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
}
.latest-votes .outer-head{
  overflow: hidden;
  margin-bottom: 20px
}
.latest-votes .outer-head h2{
  text-transform: capitalize;
  display: inline-block;
  float: left;
  text-transform: capitalize;
  display: inline-block;
  float: left;
  color: #333;
  padding: 5px 1px;
}
.latest-votes .outer-head h2 span{
  color: var(--main-color);
}
.latest-votes .outer-head .see-more:hover{
  background: #1869b1;
}
.latest-votes .outer-head .see-more{
  float: right;
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 17px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.latest-votes .main-vote{
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 1px #888;
}
.latest-votes .main-vote .vote-img{
  width: 30%;
  height: 230px;
  float: left;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  position: relative;
}
.latest-votes .main-vote .vote-img img{
  width: 100%;
  height: 100%;
}
.latest-votes .main-vote .vote-img .overlay{
  display: none;
  transition: all 0.25s ease-in-out;
}
.latest-votes .main-vote .vote-img .overlay .learn-more:hover{
  background: #1869b1;
}
.latest-votes .main-vote .vote-img .overlay .learn-more{
  float: left;
  width: 40%;
  position: relative;
  top: 100px;
  left: 100px;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 17px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
.latest-votes .main-vote:hover .overlay{
    display: inline-block;
}
.latest-votes .main-vote .vote-info{
  display: inline-block;
  float: left;
  width: 70%;
}
.latest-votes .main-vote .vote-info .inner-head{
  overflow: hidden;
  margin: 20px;
}
.latest-votes .main-vote .vote-info .inner-head h3{
  float: left;
  text-transform: capitalize;
  border-bottom: 2px solid #333;
  padding: 5px 1px;
  color: #333;
}
.latest-votes .main-vote .vote-info .inner-head h3:nth-of-type(2){
  float: right;
}
.latest-votes .main-vote .vote-info p{
  margin: 0 20px;
  font-weight: 500;
  color: #555;
  line-height: 1.5;
}
.latest-votes .main-vote .vote-info span{
  text-transform: capitalize;
  float: left;
  color: #eee;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 10%;
  max-width: 90%;
  width: 70%;
  margin-top: 20px;
  padding: 10px 10px;
  background: #09ad09;
  position: relative;
  bottom: -26px;
}
.latest-votes .main-vote .vote-info span:nth-of-type(2){
  background: #d00303;
  width: 30%;
  text-align: right;
}
.latest-votes .main-vote .vote-info span i{
  margin: 0 10px;
}
/* End Latest Votes */

/* Start Most Booking And Recent Trips */
.home-trips{
  padding: 50px 0;
  overflow: hidden;
}
.home-trips .outer-head{
  overflow: hidden;
  padding: 20px 2px;
}
.home-trips .outer-head h2{
  text-transform: capitalize;
  display: inline-block;
  float: left;
  text-transform: capitalize;
  display: inline-block;
  float: left;
  color: #333;
  padding: 5px 1px;
}
.home-trips .outer-head h2 span{
  color: var(--main-color);
}
.home-trips .outer-head .see-more:hover{
  background: #1869b1;
}
.home-trips .outer-head .see-more{
  float: right;
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 17px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.home-trips .cards .trip-card{
  float: left;
  width: 24%;
  overflow: hidden;
  margin-right: 14.6px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #333;
  transition: all 0.25s ease-in-out;
}
.home-trips .cards .trip-card:last-of-type{
  margin-right: 0;
}
.home-trips .cards .trip-card .card-img{
  width: 100%;
  height: 165px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .20s ease-in-out;
}
.home-trips .cards .trip-card .card-img:hover .overlay{
  right: 0;
  bottom: 0;
  text-align: center;
}
.home-trips .cards .trip-card .card-img:hover .overlay span{
  line-height: 8;
  font-size: 22px
}
.home-trips .cards .trip-card .card-img img{
  width: 100%;
  height: 100%;
}
.home-trips .cards .trip-card .card-img .overlay{
  padding: 2px 10px;
  bottom: auto;
  right: auto;
  background-color: #3898ecbb;
}
.home-trips .cards .trip-card .card-img .overlay span{
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.home-trips .cards .trip-card .card-info{
  text-align: center;
  overflow: hidden;
  background: #eee;
  color: #555;
}
.home-trips .cards .trip-card .card-info h2{
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 0;
  cursor: pointer;
  transition: all .20s ease-in-out;
}
.home-trips .cards .trip-card .card-info h2:hover{
  background-color: #ccc;
  color: var(--main-color);
}
.home-trips .cards .trip-card .card-info .stats{
  border-top: 2px solid var(--main-color);
  overflow: hidden;
}
.home-trips .cards .trip-card .card-info .stats h4{
  float: left;
  width: 50%;
  font-size: 18px;
  padding: 5px 0;
  font-weight: 500;
  transition: all .20s ease-in-out;
}
.home-trips .cards .trip-card .card-info .stats h4 i{
  margin-right: 10px;
}
.home-trips .cards .trip-card .card-info .stats h4:hover{
  background-color: #ccc;
  color: var(--main-color);
}
/* End Most Booking Trips */

/* Start Most Followed Agencies */
.most-followed{
  padding: 20px 0;
  overflow: hidden;
  background-color: #eee;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.most-followed .outer-head{
  overflow: hidden;
  padding: 20px 2px;
}
.most-followed .outer-head h2{
  text-transform: capitalize;
  display: inline-block;
  float: left;
  text-transform: capitalize;
  display: inline-block;
  float: left;
  color: #333;
  padding: 5px 1px;
}
.most-followed .outer-head h2 span{
  color: var(--main-color);
}
.most-followed .outer-head .see-more:hover{
  background: #1869b1;
}
.most-followed .outer-head .see-more{
  float: right;
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 17px;
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.most-followed .agencies .agency-card{
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
.most-followed .agencies .agency-card:hover{
  background: #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 #aaa;
}
.most-followed .agencies .agency-card img{
  border-radius: 50%;
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 10px 0px #bbb;
  margin-bottom: 15px;
  cursor: pointer;
  opacity: .6;
  transition: all 0.25s ease-in-out;
}
.most-followed .agencies .agency-card:hover img{
  box-shadow: 0px 0px 10px 0px #888;
  opacity: 1;
}
.most-followed .agencies .agency-card h3{
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.most-followed .agencies .agency-card button{
  font-weight: 600;
  background: var(--main-color);
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.25s ease-in-out;
}
.most-followed .agencies .agency-card .followed{
  background: #bbb;
}
/* End Most Followed Agencies */
